extends ./layout

block content
    a(href='/pages/getProducts') Return
    h1.
        #{title}
    form(action='/pages/createUser',method='post',name='createUser')
        p Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#inputName(type="text", required=true, placeholder="ex. john.smith", name="name", style='width:200px;')
        p Password:&nbsp;
            input#inputPassword(type='password', required=true, name='password', style='width:200px;')
        p Are You Administrator?:&nbsp;
            input#inputIsAdmin(type="checkbox", name="admin")
        p
            button#btnSubmit(type="submit") Create