extends ./layout

block content
  h1.
    #{title} Error.
  p #{message}
  form(action='/api/getProducts',method='get',name='error',enctype='application/x-www-form-urlencoded')
   button#btnSubmit(type="submit") continue