extends ./layout

block content
  h1.
    #{title} Error.
  p(style="color: red;") #{message}
  form(action='/login',method='get',name='errorLogin',enctype='application/x-www-form-urlencoded')
   button#btnSubmit(type="submit") continue