doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="Cache-control" content="public")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="MongoDB Express JQuery Node.js Template.")
    meta(name="keywords" content="node, express, jade, mongo, jquery, responsive, bootstrap, font awesome, html5, css3, less")
    meta(name="author" content="Daniel Avelar")

    title= title
    link(rel="shortcut icon", href="/images/api.png", type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block foot
      #footer
      p(style="font-style: italic; font-weight: bold; color: gold;") Copyright &copy; 2019 Daniel Avelar