extends ./layout

block content
	a(href='/') Home
	h1.
		#{title}
	form(action='/pages/authenticate', method='post', name='login')
		p Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			input#inputName(type="text", required=true, name="name",placeholder='Name', style='width:200px;')
		p Password:&nbsp;&nbsp;
			input#inputPassword(type='password', required=true, name='password',placeholder='Password', style='width:200px;')
		p
			button#btnSubmit(type="submit") Enter