extends ./layout

block content
	h1.
		#{title} Success.
	p #{message}
	form(action='/pages/getProducts',method='get',name='createUser',enctype='application/x-www-form-urlencoded')
			button#btnSubmit(type="submit") continue