body {
  padding: 50px;
  font: 15px "Tahoma", Helvetica, Arial, sans-serif;
  background: #464646;
  color: white;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gold;
}